<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokéLife - Home</title>
    <link rel="stylesheet" href="top.css">
    <link rel="icon" type="image/x-icon" href="icon.png">
</head>
<body>
    <nav>
        <div class="nav-in">
            <a href="/"><h2>PokéLife</h2></a>
            <div class="cont-nav">
                <a href="pokemons"><h3>Pokémons</h3></a>
                <a href="trainers"><h3>Treinadores</h3></a>
                <a href="battles"><h3>Batalhas</h3></a>
            </div>
        </div>
    </nav>
    <div class="top-info">
        <h1>PokéLife</h1>
        <h2>Conheça a comunidade pokémon</h2>
        <a href="/pokemons"><button>Conhecer pokémons</button></a>
        <a href="/trainers"><button>Conhecer treinadores</button></a>
        <a href="/battles"><button>Conferir batalhas</button></a>
    </div>
    <div class="video">
        <h3>Confira alguns trabalhos de pesquisa pokémon</h3>
        <iframe src="https://www.youtube.com/embed/KVYF4Li2gu8?si=BbCHqZqkWQr5oz9Z" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture; " referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    
</body>
</html>