<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokéLife - Inscrever Treinador</title>
    <link rel="stylesheet" href="top.css"> <!-- CSS da navbar e de algumas configurações padronizadas -->
    <link rel="icon" type="image/x-icon" href="icon.png"> <!-- Logo da pokébola na guia -->
</head>
<body>
    <nav>
        <div class="nav-in"> <!-- Cabeçalho padrão do site -->
            <a href="/"><h2>PokéLife</h2></a>
            <div class="cont-nav">
                <a href="pokemons"><h3>Pokémons</h3></a>
                <a href="trainers"><h3>Treinadores</h3></a>
                <a href="battles"><h3>Batalhas</h3></a>
            </div>
        </div>
    </nav> <!-- Fim do cabeçalho -->
    
    <form method="post" id="pokemonForm"> <!-- Formulário de atualização -->
        <div class="form-int"> <!-- Div organizadora de conteúdo -->
            <div class="l1"> <!-- Lado 1 -->
                <h2>Seja bem vindo !</h2>
                <h3>Preencha tudo e vem aproveitar !</h3>
                <input type="text" name="inputNome" id="inputNome" placeholder="Nome" required>
                <input type="number" name="inputIdade" id="inputIdade" placeholder="Idade" required>
                <input type="text" name="inputCidade" id="inputCidade" placeholder="Cidade" required>
                <button type="submit" onclick="submitForm('/addTrainer')">Enviar</button>
            </div>
        </div>
    </form>
    <div class="caution"> <!-- Usando modelo da div de exclusão -->
        <div class="cont">
            <h2>Não esqueça de inscrever seu pokémon ! </h2>
            <a href="/newPokemon"><button class="add">Adicione seu fofinho</button></a>
        </div>
    </div>

</body>
<script>
function submitForm(action) {
const form = document.getElementById('pokemonForm');
form.action = action;
form.submit();
}
</script>

<style>
    form{
        width: 100vw;
        display: flex;
        justify-content: center;
        margin: 2.5vh 0;
    }
    .form-int{
        width: 20vw;
        height: 40vh;
        background-color: rgb(51, 146, 255);
        border-radius: 5px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }
    h2, h3{
        text-align: center;
    }
    h2{
        font-family: "Nunito", monospace;
        font-size: 20px;
        font-weight: 700;
    }
    .l1 h3{
        font-family: "Albert Sans", monospace;
        font-size: 18px;
        font-weight: 300;
    }
    input {
        margin: 0 auto;
    }
    .l1 button {
        width: 100px;
        margin: 0 auto;
        margin-top: 10px;
    }
    .cont{
        background-color: rgb(255, 150, 12);
    }
</style>
</html>