<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokéLife - Inscrever Treinador</title>
</head>
<body>
    <h2>Seja bem vindo !</h2>
    <h3>Preenche tudo e vem aproveitar !</h3>
    <form method="post" id="pokemonForm">
        <div class="form-int">
            <div class="container">
                <input type="text" name="inputNome" id="inputNome" required>
                <input type="number" name="inputIdade" id="inputIdade" required>
                <input type="text" name="inputCidade" id="inputCidade" required>
                <button type="submit" onclick="submitForm('/addTrainer')">Enviar</button>
            </div>
        </div>
    </form>
</body>
<script>
function submitForm(action) {
const form = document.getElementById('pokemonForm');
form.action = action;
form.submit();
}
</script>
</html>