<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokéLife - Treinadores</title>
    <link rel="stylesheet" href="top.css">
    <link rel="stylesheet" href="trainers.css">
    <link rel="icon" type="image/x-icon" href="icon.png">
</head>
<body>
    <nav>
        <div class="nav-in">
            <a href="/"><h2>PokéLife</h2></a>
            <div class="cont-nav">
                <a href="pokemons"><h3>Pokémons</h3></a>
                <a href="trainers"><h3>Treinadores</h3></a>
                <a href="battles"><h3>Batalhas</h3></a>
            </div>
        </div>
    </nav>
    <div class="top-info">
        <h1>Conheça nossos membros !</h1>
        <h2>Essa é a turma da pesada</h2>
        <form action="/pesquisarTrainer" method="get">
            <input type="search" name="pesquisa" placeholder="Treinador/Cidade/Idade">
            <button type="submit">Pesquisar</button>
        </form>
    </div>
    <div class="trainer-section">
        <% treinadores.forEach((treinador) => { %>
        <div class="treinador">
            <div class="tr-info">
                <h3>Nome: <%= treinador.nome %></h3>
                <h4>Cidade de origem: <%= treinador.cidade %></h4>
                <h4>Idade: <%= treinador.idade %> anos</h4>
                <h4>Batalhas vencidas: <%= treinador.vitorias %></h4>
            </div>
        </div>
        <%})%>
    </div>
</body>
</html>