<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poké Poké - Treinadores</title>
    <link rel="stylesheet" href="trainer.css">
    <link rel="stylesheet" href="top.css">
</head>
<body>
    <nav>
        <div class="nav-in">
            <h2>PokéLife</h2>
            <div class="cont-nav">
                <h3>Pokémons</h3>
                <h3>Treinadores</h3>
                <h3>Batalhas</h3>
            </div>
        </div>
    </nav>
    <div class="top-info">
        <h1>Conheça nossos membros !</h1>
        <h2>Essa é a turma da pesada</h2>
        <form action="/pesquisarTrainer" method="get">
            <input type="search" name="pesquisa" placeholder"Treinador">
            <button type="submit">Pesquisar</button>
        </form>
    </div>
    <div class="trainer-section">
        <% treinadores.forEach((treinador) => { %>
        <div class="treinador">
            <h3>Nome: <%= treinador.nome %></h3>
            <h4>Cidade de origem: <%= treinador.cidade %></h4>
            <h4>Idade: <%= pokemon.idade %></h4>
            <h4>Batalhas vencidas: (W)</h4>
        </div>
    </div>
</body>
</html>
