<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poké Poké - Treinadores</title>
</head>
<body>
    <h1>Conheça nossos membros !</h1>
    <h2>Essa é a turma da pesada</h2>
    <div class="trainer-section">
        <% treinadores.forEach((treinador) => { %>
        <div class="treinador">
            <h3>Nome: <%= treinador.nome %></h3>
            <h4>Cidade de origem: <%= treinador.cidade %></h4>
            <h4>Idade: <%= pokemon.idade %></h4>
        </div>
    </div>
</body>
</html>
