.top-info{
    margin-bottom: 5vh;
}
.top-info h2 {
    margin-bottom: 10px;
    font-size: 18px;
}
b{
    font-weight: 900;
}
input::placeholder{
    font-size: 10px;
}
.battle {
    padding: 2vh 0;
    width: 100vw;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
}
.battle .img-container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10vh;
}
.battles h2{
    font-family: "Nunito", monospace;
    font-size: 26px;
}
.battles    h3{
    font-family: "Albert Sans", monospace;
    font-weight: 500;
    font-size: 20px;
    margin-left: 2vw;
    margin-top: 10px;
}
li{
    margin-left: 4vw;
    font-family: "Montserrat", monospace;
}
img{
    height: 150px;
    width: 150px;
    border: #1d1d1d 2px solid;
    border-radius: 5px;
}

a .battle h2 {
    color: rgb(255, 5, 5);
}

a .battle h3{
    color: rgb(255, 123, 0);
}

.vencedor {
    color: green;
    box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.5);
}

.perdedor {
    color: red;
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.5);
}