nav{
    margin-bottom: 0;
}
body{
    background-color: #00bae4;
}
.container{
    text-align: center;
}
.form-int{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
    
}
label{
    color: rgb(0, 10, 32);
}
.l1{
    display: grid;
    margin-left: 3vw;
    text-align: left;
}
img{
    border: 3px solid #f5f5f5;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #efe9e9;
}
.container button{
    width: 100px;
}
#inputNome{
    font-weight: 900;
}