button{
    background-color: #E63434;
    color: #FFFFFF;
    font-family: "Nunito", monospace;
    font-weight: 900;
    padding: 2px;
    border: solid #E63434 2px;
    border-radius: 5px;
}
body{
    background-color: #04214d;
}
input {
    height: 22px;
    width: 180px;
    background-color: #eeeeee;
    border: 3px solid #646464;
    border-radius: 5px;
}
nav{
    margin-bottom: 0;
}
form{
    text-align: center;
    background-color: #a7b9d4;
}
.form-int{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 5vh 0;
}
.container{
    display: grid;
    gap: 8px;
}
img{
    width: 200px;
    height: 200px;
    margin: 5vh 0;
}
select{
    height: 22px;
    width: 180px;
    background-color: #eeeeee;
    border: 3px solid #646464;
    border-radius: 5px;
}
option{
    background-color: #eeeeee;
    border: 3px solid #646464;
}
.extra{
    text-align: center;
    background-color: #04214d;
    color: #bbf5ff;
    h2{
        font-family: "Nunito",monospace;
        font-size: 20px;
        font-weight: 600;
    }
    h3{
        font-family: "Nunito",monospace;
        font-size: 16px;
        font-weight: 400;
        margin: 6px 0 10px 0;
    }
}