.container{
    display: flex;
    gap: 2vw;
    margin: 5vh auto;
}
.container button{
    background-color: #E63434;
    color: #FFFFFF;
    font-family: "Nunito", monospace;
    font-weight: 900;
    border: solid #E63434 2px;
    border-radius: 5px;
}