@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    border: 0px;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}
body{ 
    background-color: #f4feff;
    color: rgb(20, 31, 41);
}
nav{
    width: 100vw;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #555454;
    padding: 10px 2vw;
    margin-bottom: 5vh;
    align-items: center;
}
.nav-in{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-in h2{
    color: #FFFFFF;
    font-family: "Nunito", monospace;
}
.cont-nav{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: "Albert Sans", monospace;
    color: #FF0000;
    gap: 2vw;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.top-info h2{
    font-family: "Albert Sans", monospace;
    font-size: 16px;
    color: #3d3d3d;
    margin-top: 0;
    margin-bottom: 5vh;
}
.top-info{
    text-align: center;
}
.top-info h1{
    font-family: "Albert Sans", monospace;
    font-size: 30px;
    color: #3d3d3d;
    margin-bottom: 0;
}
.top-info input{
    background-color: #F7F7F7;
    border: 3px solid #737373;
    border-radius: 7px;
    font-family: "Nunito", monospace;
    color: #3d3d3d;
    font-size: 16px;
    overflow: hidden;
}
.top-info input::placeholder{
    color: #d4d4d4;
    font-family: "Nunito", monospace;
}
.top-info button{
    background-color: #E63434;
    color: #FFFFFF;
    font-family: "Nunito", monospace;
    font-weight: 900;
    padding: 2px;
    border: solid #E63434 2px;
    border-radius: 5px;
}
.video{
    margin-top: 5vh;
    text-align: center;
}
.video h3{
    font-family: "Nunito";
    font-size: 18px;
    margin-bottom: 10px;
}
.video iframe{
    height: 350px;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 4px;
    border-radius: 5px;
}