body{
  background-color: #f2f2f2;
}

.trainer-section{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;
}
.treinador h3 {
  font-family: "Nunito", monospace;
  font-size: 28px;
}
.treinador h4 {
  font-family: "Montserrat", monospace;
  font-size: 20px;
}
.treinador{
  height: 300px;
  width: 25vw;
  flex: 0 0 25%;
}
.treinador{
  align-content: center;
}
.tr-info{
  margin-left: 3vw;
}
.treinador:nth-child(odd) {
  background-color: #3d3d3d; /* testar e trocar */
  color: #b2b2b2  ;
}
.treinador:nth-child(even) {
  background-color: #b2b2b2; /* testar e trocar */
  color: #3d3d3d;
}
